{{page-title "Settings"}}
<h1>CofD Settings</h1>

<CodSettings @settings={{this.model}} />

{{outlet}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css" />
<script async defer src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>